.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  border-radius: 40px;
  padding: 18px 34px;
  border: 1px solid darkgray;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  color: #fff;
  background: inherit;
  transition: 1s;
  cursor: pointer;
}
.btn:hover {
  background: darkgray;
  color: #fff;
}
